# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
base/generated_build_date.h

*.lib

/*build*
# Executables
*.exe
*.out
*.app

# Cache
__pycache__/*
test_package*/__pycache__/*
test_package*/build/*
build/*
local_build
*.pyc
tmp/
/_deps
/CMakeFiles
/conan_auto_install
/cmake_utils
/conan_workspace/*
!/conan_workspace/CMakeLists.txt
!/conan_workspace/conan_workspace.yml
!/conan_workspace/conan_layout

# IDE
.idea/*
.project
.pydevproject
.settings/*

*~
/base/allocator/buildflags.h
*_buildflags.h
*.txt.user
/typescript
*.directory
/base/extensions/testing/libfuzzer/fuzzers/*
/extensions/basic/basic-config.h
